# Do NOT add any files created your IDE or operating system here. Use a
# personal .gitignore instead.

# Composer
/vendor
/composer.lock

# PHPUnit
.phpunit.result.cache
.phpunit.cache
coverage_report
clover.xml
